*{
    box-sizing: border-box;
}
.fav_music{
    border: 10px solid lightsteelblue;
}
.mozart{
    border: 4px solid orange;
    width: 25%;
    background-color: aliceblue;
    float: left;
    padding: 4px;
}
.beethoven{
    width: 25%;
    background-color: aqua;
    float:left;
    padding: 4px;
}
.hiru{
    width: 25%;
    background-color: azure;
    float: left;
    padding: 4px;

}

.sheru{
    width: 25%;
    background-color: burlywood;
    float: left;
    padding: 4px;
}
/* 
.clearfix{
    clear: both;
} */

/* using ::after instead of clearfix, both works */

.fav_music::after{
    content: "";
    display: block;
    clear: both;
}